aside.ant-layout-sider.ant-layout-sider-dark {
  background: white;
  min-width: 15% !important;
  max-width: 15% !important;
  width: 15% !important;
  text-align: start !important;
}

aside.ant-layout-sider.ant-layout-sider-light.sitelayout-sider {
  box-shadow: #ded9d9 0px 0px 8px 0px !important;
}
